apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: exp5-observer-data
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
